<div class="login-background">
</div>
<form class="example-container" #loginForm="ngForm">
  <mat-form-field>
      <input matInput name="username" [(ngModel)]="loginUserData.username" ngModel placeholder="Username" type="text" #usernameInput="ngModel" required username>
      <mat-error *ngIf="usernameInput.invalid">Please Enter a valid Username</mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field>
      <input matInput name="password" [(ngModel)]="loginUserData.password"  ngModel placeholder="Password" type="password" #passwordInput="ngModel" required password>
      <mat-error *ngIf="usernameInput.invalid">Please Enter a valid Password</mat-error>
    </mat-form-field>
  <div>
      <button mat-flat-button color="primary" type="button" (click)="onLogin()" >Login</button>
  </div>
</form>



