.example-container {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
  }
  
  .example-container > * {
    margin: auto;
    width: 40%;
    padding-top: 50px;
  }
  
  .login-background {
      position: absolute;
      top: 0%;
      left: 0%;
      background-color: #99ff66;
      width: 100%;
      height: 100%;
      clip-path: polygon(0% 100%, 100% 0%, 0% 0%);   
  }